body {
  margin: 0;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  width: auto;
}



/* Стили для h1 */
h1 {
  color: #353535;
  text-align: center;
  /* Centered the text */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}



.title-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;

}


.section__main {
  display: flex;
  flex-direction: row;
  gap: 24px;

}


#active {
  background-color: rgba(231, 55, 94, 1);
  border: 1px solid rgba(231, 55, 94, 1);
}


.add-button {
  padding: 10px 32px;
  color: #2b2b2b;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #0d6ed5;

  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: 100%;
}


button:hover {
  background-color: #004fa4;
  cursor: pointer;
  color: #ffffff;

}

button {
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2b8ffa;
  border-radius: 8px;
  border: 2px solid #2b8ffa;

  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: fit-content;
}


button:hover {
  background-color: #004fa4;
  border: 2px solid #004fa4;
  cursor: pointer;
  color: #ffffff;

}

.chart {

  margin-top: 56px;

  width: 55%;
  height: 360px;


}