:root {
  --primary-color: #0d6ed5;
  --secondary-color: #ffffff;

  --button-background-color: #0d6ed5;
  --button-border-color: #2e2e2e;
  --button-text-color: #2e2e2e;

  --button-text_hover-color: #f8f8f8;
  --button-border_hover-color: #f8f8f8;
  --button-background_hover-color: #0d6ed5;

  --button-active-color_background: #0d6ed5;
  --button-active-color_border: #0d6ed5;
}


body {
  margin: 0;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  width: auto;
}



/* Стили для h1 */
h1 {
  color: var(--button-text-color);
  text-align: center;
  /* Centered the text */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


.title-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
}


.title-page__section {
  display: flex;
  flex-direction: row;
  gap: 24px;
}


#active {
  background-color: var(--button-active-color_background);
  border: 1px solid var(--button-active-color_border);
}


.add-button {
  padding: 10px 32px;
  color: #2b2b2b;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #0d6ed5;

  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: 100%;
}


button:hover {
  background-color: #004fa4;
  cursor: pointer;
  color: #ffffff;

}


.password {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}

button {
  display: flex;
  padding: 10px 32px;
  gap: 12px;
  color: #1b1b1b;
  background-color: var(--secondary-color);
  border-radius: 8px;
  border: 1px solid #2b8ffa;

  text-align: center;
  align-items: center;
  align-content: center;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: fit-content;
}


button:hover {
  background-color: #2b8ffa;
  cursor: pointer;
  color: #ffffff;

}

.chart {

  margin-top: 56px;

  width: auto;


}

.passwords__block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

span {
  display: flex;
  flex-direction: row;
  gap: 32px;

  padding: 8px 32px;
  border: 1px solid #414141;
  border-radius: 32px;

}


span:hover {
  display: flex;
  flex-direction: row;
  gap: 32px;

  padding: 8px 32px;
  border: 1px solid #0d6ed5;
  border-radius: 32px;
  background-color: #0d6ed5;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease;

}


.spans {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

}


.tab_category_password {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 24px;
}


.buttons__group {
  display: flex;

  flex-wrap: wrap;

  gap: 24px;


}

/* РАБОТАЕМ С ЭТИМ БЛОКОМ */
article {
  display: flex;
  flex-direction: column;

  padding: 12px;
  border-radius: 16px;
  border: 1px solid #f0f0f0;
  background-color: #004fa4;
  color: #f0f0f0;
}


.article__group {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;

}

h5 {
  margin: 0;
}



/* Стили для прогресс бара */
#progress-bar {
  border: 1px solid #252525;
  border-radius: 16px;
  height: 30px;
  margin-bottom: 20px;
  position: relative;
  /* Позиционируем для вложенных элементов */
  overflow: hidden;
  /* Ограничиваем видимую область */
  width: 100%;
  /* Изначально ширина прогресса равна 100% */
}

#progress-bar .progress-fill {
  height: 100%;
  background-color: var(--primary-color);
  /* Цвет фона прогресса */
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  /* Изначально ширина фона прогресса равна 0 */
}

#progress-bar .progress {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  color: rgb(57, 57, 57);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* Размещаем поверх фона */
}

.project_block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 32px;
  gap: 16px;
  flex-wrap: wrap;
}

.project_block h1 {
  text-align: left;
}


/* Группа инпутов */

.project_block_checkbox input {
  height: 32px;
  border: 1px solid #252525;
  border-radius: 16px;
  margin-bottom: 8px;
  padding: 0px 12px;
  width: 100%;
}

.project_block_checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 12px;
}




#checkbox-container{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
}


