.todo__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 260px;
  justify-content: center;
}

form{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  
  gap: 40px;
  flex-direction: column;
  
}


.todo__content__row {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  width: 100%;
}

#row_01 {
  width: 24px;
  height: 24px;
}
#btn-save {
  padding: 12px 28px;
  width: auto;
  color: #fff;
  background-color: #0d6ed5;
  border-radius: 8px;
  border: 1px solid #0d6ed5;

  text-align: center;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

#btn-save:hover {
  background-color: #004fa4;
  cursor: pointer;
}

.button-input {
  padding: 12px 28px;
  width: fit-content;
  color: #fff;
  background-color: #0d6ed5;
  border-radius: 8px;
  border: 1px solid #0d6ed5;

  text-align: center;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.button-input:hover {
  background-color: #004a99;
  cursor: pointer;
}

.todo__content__row input {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #004fa4;
}

label {
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


.form__content{
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}